.button {
    cursor: pointer;
    padding: 2px;
    margin: 3px;
    box-shadow: 0 2px 5px #aaa;
}

.contentPanel {
    margin: 20px;
    background: #fff;
}

.canvas {
    background: #fff;
    display: block;
    margin: 10px;
    box-shadow: 0 5px 15px #aaa;
}
.floatLeft {
    float:left;
}
.buttonPanel {
    padding: 0px 0px 20px 0px;
}
.clear {
    clear: both;
}

.draggablePanel {
    background-color: white;
    border: grey thin solid;
}
